<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{ url_for('stack', filename='imagem/unnamed.png') }}" alt="Aviação">
    <br>
    <p>Aviação é a atividade científico-tecnológica, econômica e de transportes que tem por objetivo o estudo, o
        desenvolvimento e a exploração (utilização, com ou sem fins comerciais) dos aeródinos. É comum as pessoas
        incorretamente associarem "aviação" como sinônimo de aeronáutica, embora na realidade a aviação seja apenas um dos
        dois ramos da aeronáutica, sendo o outro ramo a aerostação. Isso porque o termo aeronáutica significa "navegação
        aérea". O termo aviação significa "navegação aérea em veículo mais pesado que o ar" (navegação em aeródinos).[1] Já
        aerostação significa "navegação aérea em veículo mais leve que o ar" (navegação em aeróstatos).</p>
    <br>
    <img src="{{ url_for('stack', filename='imagem/unnamed.png') }}" alt="Aviação">
    <br>
    <h1><a href="/">index</a></h1>
    <h1><a href="/pag1">pag1</a></h1>
</body>
</html>

