<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Atualmente, a aviação pode ser considerada uma indústria global que pertence e é operada largamente pelas
        empresas do setor. Essa indústria é uma verdadeira rede que congrega atividades tais como engenharia de design,
        manufatura, vendas, operações de linhas aéreas, serviços aos clientes, manutenção, finanças, leasing, seguros,
        publicidade, propaganda, mídia etc. Também está presente uma forte componente legal, que inclui legislação e
        regulamentos nacionais que se interconectam a tratados internacionais, e tudo em um contínuo processo de revisão
        e atualização à medida que essa indústria continua crescendo e apresentando cada vez mais e maiores demandas.
    </p>
    <br>
    <img src="{{ url_for('stack', filename='imagem/ceu.png') }}" alt="Aviação">
    <br>
    <p>Quanto à invenção de um aparelho mais pesado que o ar, há controvérsias sobre o verdadeiro inventor. Vários
        creditam os Irmãos Wright, que alegam haver realizado o primeiro voo em 17 de dezembro de 1903,[8] porém na
        ausência de testemunhas credíveis e da mídia e usando a ajuda de uma catapulta. Antes disso porém, em 9 de
        outubro de 1890, o engenheiro francês Clément Ader alegou ter percorrido 50 metros a uma altura de 20
        centímetros em sua aeronave a vapor chamada "Ader Éole", mas seu voo também não teve testemunhas.</p>
    <h1><a href="/">index</a></h1>
    <h1><a href="/pag2">pag2</a></h1>
</body>

</html>
