<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Aeronaves começaram a transportar passageiros e cargas quando os projetos aumentaram e ficaram mais confiáveis.
        Em contraste com pequenos balões, gigantes aeronaves fizeram transporte de passageiros e cargas percorrendo
        grandes distâncias. O melhor exemplo de aeronaves deste tipo foram os dirigíveis fabricados pela companhia alemã
        Luftschiffbau-Zeppelin GmbH. O mais bem sucedido dirigível Zeppelin foi o Graf Zeppelin. Voou sobre um milhão de
        milhas (1 650 000 km, aproximadamente) incluindo um voo de volta ao mundo em agosto de 1929. Todavia, o domínio
        dos Zeppelins sobre os aviões neste período, que teve uma faixa de poucas centenas de milhas, foi diminuindo,
        uma vez que o "design" dos aviões eram mais avançados. O dirigível Norge, foi a primeira aeronave a sobrevoar o
        Polo Norte em 12 de maio de 1926. A "Idade do Ouro" dos dirigíveis acabou em 1937, quando do desastre do
        Hindenburg este pegou fogo matando 36 pessoas. Apesar de tudo, houve iniciativas periódicas para retomar o uso
        deles.

        Um grande progresso foi feito no campo da aviação nas décadas de 1920 e 1930, como o voo transatlântico de
        Charles Lindbergh, em 1927, e o voo transpacífico de Charles Kingsford Smith no ano seguinte (1928). Richard
        Byrd tornou-se o primeiro piloto a pousar com um avião na Antártida continental durante uma expedição realizada
        entre 1928-1930[14] (ver: aviação polar). Um dos mais bem sucedidos projetos daquele tempo foi o Douglas DC-3
        que veio a ser a primeira aeronave de uso de uma companhia aérea, que foi rentável para o transporte de
        passageiros, começando assim, a era moderna de aeronaves de transporte de passageiros. Com o início da Segunda
        Guerra Mundial, muitas cidades construíram aeroportos, e houve muitos pilotos profissionais disponíveis. A
        guerra trouxe inúmeras inovações para a aviação, incluindo o primeiro jato e foguetes de combustível líquido
        (ver: História dos foguetes).</p>
    <br>
    <img src="{{ url_for('stack', filename='imagem/unnamed.png') }}" alt="Aviação">
    <br>
    <h1><a href="/">index</a></h1>
    <h1><a href="/pag3">pag3</a></h1>
</body>

</html>
