<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>A aviação geral inclui a parte da aviação civil que não é composta de companhias aéreas, bem como a aviação
        privada e comercial. A Aviação Geral pode também incluir a aviação executiva, voos charter, aviação privada,
        treinamento de voo, balonismo, paraquedismo, voo a vela, asa-delta, fotografia aérea, UTI aérea, Helicópteros de
        redes de TV, patrulhas aéreas e combate ao fogo florestal.

        Cada país regulamenta de forma diferente a aviação, mas a aviação geral, geralmente, se enquadra em regulamentos
        diferentes dependendo do que se trate, se é privado ou comercial e sobre o tipo de equipamento usado. Apesar de
        alguma autonomia, os países signatários da Convenção de Chicago adotam normas internacionais.

        Muitos fabricantes de aeronaves pequenas, incluindo Cessna, Piper Aircraft, Diamond, Mooney, Cirrus, Raytheon e
        outras servem o mercado de aviação geral, com foco na aviação privada e treinamento de voo.
    </p>
    <br>
    <img src="{{ url_for('stack', filename='imagem/ceu.png') }}" alt="Aviação">
    <br>
    <p>Assim como todas as atividades envolvendo combustão, operando com aeronaves movidas a combustível (desde Balões
        de ar Quente, até jatos comerciais) emitem gases poluentes como dióxido de carbono (CO2), e outros poluentes na
        atmosfera.

        Segundo estimativas da Comissão Europeia, as emissões globais da aviação internacional em 2020 poderão ser 70%
        superiores às de 2005. Em 2050 as emissões serão de 300 a 700% maiores que 2020, segundo projeções da ICAO.[16]

        Aeronaves que operam perto da tropopausa (principalmente os grandes jatos) emitem aerossol e deixam rastros
        chamados de trilhas de condensação, que contribuem para a formação do cirro — que vem crescendo numa faixa de
        0,2% desde a invenção da aviação.[17]

        O uso de biocombustíveis e hidrogênio apresenta-se como possível solução para a redução de emissões. A propulsão
        aeronáutica elétrica, fazendo uso de motores elétricos acionados por baterias ou células de combustível, etc.
        também surge como possível solução para tais questões. Nas primeiras décadas do século XXI a indústria
        aeronáutica vem desenvolvendo o avião elétrico e a aeronave híbrida elétrica.[18] As aeronaves com motorização
        híbrida combinam motor de combustão interna com motor elétrico reduzindo a poluição sonora, atmosférica e
        custos, com aumento da eficiência a da autonomia.</p>
        <br>
        <h1><a href="/">index</a></h1>
</body>

</html>
